/* styles.css */

.positive {
  color: green;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid green;
  background-color: #eaffea;
}

.negative {
  color: red;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(238, 98, 98);
  background-color: #ffeaea;
}
